/* * {
  margin: 0;
} */

/* Import Playfair Font from Google */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
/* Import Roboto Font from Google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@250;300;400;700;900&display=swap");
/* Import Hammersmith Font from Google */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");


/* ==========================FONT DECLARATIONS============================================================================================================== */
h1 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  letter-spacing: 0px;
}


body {
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 300;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ====================================================================================================================== */
/* ===============================SECTION HEADER======================================================================================= */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#myBtn:hover {
  background-color: aqua;
}

header {
  background-image: url(./photoshop/photoshop/design-assets/bgk-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 46em;
  width: 100vw;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoAndTajam {
  border: 2px solid rgba(0, 0, 255, 0);
  padding: 1em;
  padding-left: 8em;
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.top-tajam {
  font-size: 30px;
  color: #00e0d0;
  font-weight: 250;
  font-family: "Roboto";
  text-align: center;
}

.nav-menu {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0px;
  color: #00e0d0;
  font-weight: 900;
  font-family: "Roboto";
}

.nav-link {
  transition: 0.3s ease-out;
}

.nav-link:hover {
  color: aqua;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 2em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -110%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: rgba(57,54,97,255);
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

#hero-section {
  border: 2px solid rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding-bottom: 9em;
  align-items: center;
}

#hero-section h1 {
  border: 2px solid rgba(238, 130, 238, 0);
  color: white;
  padding: 0.6em;
  display: flex;
  align-items: center;
  font-size: 2em;
}

#hero-section hr {
  width: 5%;
  margin-left: auto;
  margin-right: auto;
  size: 1px;
}

#hero-section p {
  border: 2px solid rgba(255, 255, 255, 0);
  color: white;
  padding-left: 22em;
  padding-right: 22em;
  padding-top: 2em;
  padding-bottom: 3em;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  word-spacing: 0.3em;
  line-height: 1.6em;
}

.learnMoreButton {
  border: solid #00e0d0 1px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 255, 255, 0);
  cursor: pointer;
  font-size: 16px;
  color: #00e0d0;
  font-weight: 400;
  font-family: "Hammersmith One";
  text-transform: uppercase;
  display: inline-block;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  nav {
    border: 2px solid rgba(0, 128, 0, 0);
    display: flex;
    justify-content: space-between;
  }
  #hero-section p {
    padding-left: 8em;
    padding-right: 8em;
  }
  #hero-section {
    border: 2px solid rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  ul {
    padding-left: 1em;
    padding-right: 2em;
  }
}

@media screen and (max-width: 600px) {
  .logoAndTajam {
    border: 2px solid rgba(0, 0, 255, 0);
    padding: 1em;
    padding-left: 5em;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
  }

  li {
    display: none;
  }

  #hero-section h1 {
    border: 2px solid rgba(238, 130, 238, 0);
    color: white;
    padding: 1em;
    display: flex;
    font-size: 1.5em;
    text-align: center;
  }
  #hero-section p {
    padding: 2em;
  }
}

@media screen and (max-width: 400px) {
  nav {
    border: 2px solid rgba(0, 128, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .logoAndTajam {
    border: 2px solid rgba(0, 0, 255, 0);
    padding: 1em;
  }

  #hero-section h1 {
    border: 2px solid rgba(238, 130, 238, 0);
    color: white;
    padding: 1em;
    display: flex;
    font-size: 1.5em;
    text-align: center;
  }
  #hero-section p {
    padding: 1em;
  }
}

/* ============================================================================================================================== */
/*============================SECTION OURSTORY==========================================================================*/

#ourstory {
  display: flex;
  justify-content: space-around;
  padding: 3em;
}

#storytext {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#storytext h2 {
  margin-top: 0;
}

#storytext p {
  width: 80%;
  letter-spacing: 0px;
  line-height: 22px;
  color: #413d4b;
}

#learnMoreButton2 {
  margin: 20px;
  margin-left: 0px;
  align-self: flex-start;
}

#learnMoreButton2:hover {
  color: white;
  background-color: #00e0d0;
  transition: 1s;
}

#storylogo {
  width: calc(100% / 12 * 5);
  /* height:30%; */
  display: flex;
  justify-content: flex-end;
}

#storylogo img {
  display: block;
  height: 85%;
  width: auto;
}

@media only screen and (max-width: 800px) {
  #ourstory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #storytext {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1em;
  }

  #learnMoreButton2 {
    align-self: center;
  }
  #storylogo {
    justify-content: center;
  }

}

/* ============================================================================================================================== */
/*============================SECTTION WATCHSTORY================================================================================*/

#watchstory {
  background-image: url("./photoshop/photoshop/design-assets/bgk-middle.png");
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#watchstory h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

/*  lisa 4th - Expertise    */
#expertise {
  height: 500px;
  background-color: white;
  margin: 50px 100px;
  align-content: center;
  font-size: 100%;
}

.expertice-heading {
  text-align: center;
  margin: 4px;
}

.expertice-heading p {
  margin-top: 6px;
}

.expertice-heading hr {
  width: 10%;
  margin-left: 45%;
  margin-top: 12px;
}

.grid {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 200px 200px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-1,
.grid-2 {
  border-bottom: 1px ridge gray;
  border-right: 1px ridge gray;
}

.grid-3 {
  border-bottom: 1px ridge gray;
}

.grid-4,
.grid-5 {
  border-right: 1px ridge gray;
}

.grid-content {
  margin-top: 12px;
  margin-bottom: 0%;
  margin: 5px;
  text-align: center;
}

.grid-1 p,
.grid-2 p,
.grid-3 p,
.grid-4 p,
.grid-5 p,
.grid-6 p {
  text-align-last: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  opacity: 70%;
}

h6 {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

/*lisa - 5th - team section*/
#meetteam {
  display: flex;
  justify-content: center;
  background: url(photoshop/photoshop/design-assets/bgk-middle.png) center/cover
    no-repeat;
  border-bottom: 5px solid white;
  width: 100vw;
  font-size: 100%;
}

.team-box {
  display: flex;
  justify-content: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.team-box > h1 {
  margin-top: 10%;
  margin-bottom: 0%;
}

.team-box-firstP {
  margin-top: 0%;
  margin-bottom: 3%;
}

.items {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border-color: 2px solid red;
}

.box-1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: space-between;
}

.bottom-items-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5%;
}

.bottom-items-section > p {
  margin-bottom: 0%;
}

.btn-weAre {
  width: 150px;
  padding: 8px 12px;
  border: 2px solid aqua;
  background-color: transparent;
  color: aqua;
  margin-bottom: 20%;
}

.container-text {
  display: flex;
  flex-direction: column;
  width: 150px;
  font-size: 10px;
  text-align: center;
  color: white;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  align-items: center;
  justify-content: start;
  margin: 5px;
  height: 200px;
  width: 180px;
}

/* ==================================================================================================================================== */
/*=======================================SECTION CONTACT================================================================================*/
#contact {
  /* border: solid rgba(0, 255, 255, 76); */
  display: flex;
  justify-content: center;
}

.contactItem {
  /* border: solid rgba(54, 220, 57, 0.729); */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 27%;
  padding: 3%;
}

.contactItem h2 {
  /* border: solid red; */
  text-transform: uppercase;
  margin-bottom: 1em;
}

.inputItem {
  font-size: 14px;
  letter-spacing: 1px;
  color: #413d4b;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 95%;
}

.clientContainer {
  /* border: solid rgba(5, 8, 5, 3); */
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.clients {
  /* border: solid rgba(207, 126, 26, 0.736); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  width: 32%;
  align-content: center;
}

.clients img {
  display: block;
}

@media only screen and (max-width: 800px) {
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: max-content; */
  }

  .contactItem {
    /* border: solid rgba(54, 220, 57, 0.729); */
    width: 90%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3%;
    /* height: 100%; */
  }

  .contactItem h2 {
    text-transform: uppercase;
  }

  .inputItem {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 95%;
  }

  .clientContainer {
    /* border: solid rgba(5, 8, 5, 0.7); */
    display: flex;
    justify-content: space-around;
  }

  .clients {
    /* border: solid rgba(207, 126, 26, 0.736); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .clients img {
    /* border: solid red; */
    display: block;
    width: 70%;
  }

  #learnMoreButton3 {
    margin-top: 1em;
  }
}

/*  Lisa footer section-neu   */

#footer-section {
  width: 100vw;
  height: 380px;
}

footer {
  background: url(photoshop/photoshop/design-assets/bgk-footer.png) center/cover
    no-repeat;
  height: 300px;
  width: 100%;
}

.footer-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 30%;
  gap: 1.5em;
  justify-content: center;
  align-content: flex-start;
  align-items: baseline;
  font-size: 100%;
  color: #ffffff;
}

.fgrid div {
  margin: 0.5em;
  margin-left: 0em;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  height: 20px;

  justify-content: left;
}

.footer-logo img {
  height: 150%;
}

.bottom-tajam {
  color: rgb(75, 133, 133);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 3%;
  font-size: 1.2em;
  align-items: first baseline;
}

h7 {
  font-weight: bold;
  letter-spacing: -0.5px;
}

.footer-grid p {
  text-align: justify;
  font-size: 90%;
  font-weight: lighter;
  line-height: 1.6;
}

.footer-grid-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5%;
  grid-row: 1/ 3;
}

.para {
  margin-top: 12%;
  line-height: 1.8;
}

.footer-grid-2,
.footer-grid-3 {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-row: 1/ 3;
}

.footer-icons,
.adress-flex,
.phone-flex {
  display: inline-flex;
  margin: 0.5em 0em;
  justify-content: flex-start;
  align-content: flex-start;
}

.phone-flex div,
.adress-flex div,
.footer-flexdiv {
  margin-right: 1em;
}

.phone-flex img,
.adress-flex img {
  margin-top: 100%;
  width: 1em;
}

.footer-icons img {
  margin-right: 5%;
  width: 2.5em;
}

#email {
  background: transparent;
  border: 1px groove #ffffff;
  height: 80%;
  width: 186px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  size: x-small;
}

.news-img-box {
  align-items: center;
  align-content: center;
  opacity: 62%;
  background-color: transparent;
}

.footer-input img {
  size: auto;
}

#btn-send-email {
  width: 4em;
  height: 90%;
  padding: 0 20%;
  border: 2px solid rgb(141, 152, 162);
  background-color: rgb(141, 152, 162);
  color: rgb(141, 152, 162);
}

.footer-grid-4 {
  display: inline-flex;
  grid-column: 1 / span 2;
  margin-bottom: 0em;
}

.footer-grid-4 div {
  margin-right: 2%;
}

.footer-input {
  display: inline-flex;
  margin: 0%;
}

/* -------- Lisa responsive -neu  ---------------*/

@media only screen and (max-width: 800px) {
  /*expertise part - media*/
  #expertise {
    height: 80%;
    background-color: white;
    margin: 25px 5px;
    border: 30px 30px;
    margin-bottom: 60px;
    align-content: center;
    font-size: large;
    overflow: hidden;
  }

  .expertice-heading {
    font-weight: bolder;
  }

  .grid {
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 55% 55%;
    margin: 1% 1%;
    flex-shrink: 0;
  }

  .grid-1 p,
  .grid-2 p,
  .grid-3 p,
  .grid-4 p,
  .grid-5 p,
  .grid-6 p {
    text-align-last: center;
    font-size: 50%;
  }

  .expertise-p-none {
    display: none;
  }

  /*team part - media*/

  #meetteam {
    display: flex;
    align-items: center;
  }

  .team-box-h1 {
    text-align: center;
    padding: 5%;
    font-weight: 100;
  }

  .team-box-firstP {
    display: none;
  }

  .bottom-items-section {
    display: none;
  }

  .btn-weAre {
    display: none;
  }

  .card {
    background-size: cover;
    border-bottom: 10%;
    display: flex;
    border: 2px solid rgb(127, 243, 179);
  }

  .items {
    display: flex;
    flex-wrap: wrap;
  }

  /*footer part - media */

  #footer-section {
    height: 670px;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-box-none {
    display: none;
  }

  .team-box {
    margin-top: 0px;
    overflow: hidden;
  }

  .footer-box-none {
    display: none;
  }
}

/* -------- Lisa responsive end - neu---------------*/
